.container-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.border-card{
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    overflow: hidden;
    border-radius: 1rem;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2,auto);
    min-height: 510px;
}

.text-card{
    padding: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(48 29 25 / var(--tw-bg-opacity));
    max-height: 35px;
    --tw-text-opacity: 1;
    color: rgb(241 245 249 / var(--tw-text-opacity));
    font-weight: 500;
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    text-align: center;
}
.content-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
